<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trainCategoryMapper">

	<!--  
		获取所有的信息
	-->
	<select id="trainCategorylistPage" parameterType="page" resultType="pd">
		SELECT 
			*
		FROM sys_train_category
		<!-- <where>
			<if test="pd.searchName!=null and pd.searchName!=''">
		 		tg.labelName LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
		 		or tg.type LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
		 	</if>
		</where>  -->
	</select>
	
	<!--  
		添加信息
	-->
	<insert id="insert" parameterType="pd">
		INSERT INTO sys_train_category(
			train_category_id,
			icon_path,
			status,
			train_category_name
		)VALUES(
			#{train_category_id},
			#{icon_path},
			#{status},
			#{train_category_name}
		)
	</insert>

	<!--  
		根据主键ID获取对象信息
	-->
	<select id="getDateById" parameterType="pd" resultType="pd">
		SELECT
			*
		FROM
			sys_train_category 
		<where>
			train_category_id=#{train_category_id}
		</where>
	</select>
	
	<!--  
		修改指定信息
	-->
	<update id="update" parameterType="pd">
		update sys_train_category
		set
			icon_path=#{icon_path},
			status=#{status},
			train_category_name=#{train_category_name}
		where 
			train_category_id=#{train_category_id}
	</update>
	
	<!--  
		删除操作
	-->
	<delete id="delete" parameterType="pd">
		delete 
		from sys_train_category
		where train_category_id in
		<foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!--  
		获取指定id集合的数据
	-->
	<select id="getListByIds" parameterType="pd" resultType="pd">
		select 
			icon_path
		from sys_train_category
		where train_category_id in
		<foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<!-- 删除图片路径-->
	<update id="deleteImgPath" parameterType="pd">
		update sys_train_category
		set 
			icon_path = ''
		where 
			train_category_id=#{train_category_id}
	</update>
	
	<!--  
		获取指定条件下的所有主图信息
	-->
	<select id="getListByCondition" parameterType="pd" resultType="pd">
		select 
			icon_path,
			train_category_name
		from sys_train_category
		where 
			status=#{status}
	</select>
	
	
</mapper>